{% extends "base_sporocila.html" %}
{% block title %}Brisanje sporočila{% endblock title %}
{% block specifika %}

<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Ali res želite izbrisati to sporočilo?</h4>
            </div>

            <div class="panel-body">
              <form method="post" action="/sporocilo/{{ sporocilo.key.id() }}/izbrisi">
                    <button type="submit" class="btn btn-success">Izbriši</button>
                </form>
          </div>
            </div></div>

{% endblock specifika %}
