{% extends "base_sporocila.html" %}
{% block title %}Bmail{% endblock title %}

{% block specifika %}
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a class="btn btn-danger" role="button" href="/poslji-sporocilo" >Novo sporočilo</a></li>
                <li role="presentation"><a href="/prikazi-sporocila">Prejeto</a></li>
                <li role="presentation" class="active"><a href="/poslana-sporocila">Poslano</a></li>
                <li role="presentation"><a href="/vreme">Poglej Vreme</a></li>
                <li role="presentation"><a href="/logout" class="btn btn-default btn-sm margin-bottom">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Odjavi se</a></li>
            </ul>
        </div>
    <div class="col-md-8 col-lg-8 col-sm-12">
            <h5 class="page-header margin" style="text-align:center"> Poslana sporočila</h5>
       {% for sporocilo in poslana_sporocila %}
            <div class="panel panel-default margin">
                <div class="panel-heading">
                    <a href="/sporocilo/{{ sporocilo.key.id() }}"><p><b>Za: {{ sporocilo.dobi_email_prejemnika() }}:</b>- {{ sporocilo.zadeva}} {{ sporocilo.nastanek.day }}.{{ sporocilo.nastanek.month }}.{{ sporocilo.nastanek.year }}
                        {{ sporocilo.nastanek.hour }}:{{ sporocilo.nastanek.minute }}</p></a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock specifika %}