{% extends "base_sporocila.html" %}
{% block title %}Bmail{% endblock title %}

{% block specifika %}

    <div class="col-md-7 col-lg-9 col-sm-9">
       {% for sporocilo in prejeta_sporocila %}
            <div class="panel panel-default">
                <div class="panel-heading">

                    <a href="/sporocilo/{{ sporocilo.key.id() }}"><p><b>Od: {{ email_posiljatelja }}:</b>
                        Za: {{ sporocilo.email_prejemnika }} - {{ sporocilo.zadeva}} {{ sporocilo.nastanek.day }}.{{ sporocilo.nastanek.month }}.{{ sporocilo.nastanek.year }}
                        {{ sporocilo.nastanek.hour }}:{{ sporocilo.nastanek.minute }}</p></a>


                </div>
            </div>

 {% endfor %}
    </div>

{% endblock specifika %}