{% extends "base_sporocila.html" %}
{% block title %}Vreme{% endblock title %}

<body>
{% block specifika %}
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">

    <a href="/poslji-sporocilo" class="btn btn-danger gumb">Pošlji novo sporočilo</a>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/prikazi-sporocila">Prejeto</a></li>
        <li role="presentation"><a href="/poslana-sporocila">Poslano</a></li>
        <li role="presentation" class="active"><a href="/vreme">Poglej Vreme</a></li>
    </ul>
    </div>
<div class="col-md-4 col-lg-4 col-sm-3">
            <div class="panel panel-default">

                <div class="panel-heading margin">
                     <h4>Vreme v kraju {{ london_vreme.name }}</h4>
                </div>
                <div class="panel-body">
                    <p>Opis: {{ london_vreme.weather[0].description }}</p>
                    <p>Trenutna temperatura: {{ london_vreme.main.temp }} stopinj C</p>
                </div>
</div></div>

<div class="col-md-4 col-lg-4 col-sm-3">
    <div class="panel panel-default">
                <div class="panel-heading margin">
                 <h4>Vreme v kraju {{ hongkong_vreme.sys.country }}</h4>
                </div>
                <div class="panel-body">
                    <p>Opis: {{ hongkong_vreme.weather[0].description }}</p>
                    <p>Trenutna temperatura: {{ hongkong_vreme.main.temp }} stopinj C</p>
                </div>
</div></div>

<div class="col-md-4 col-lg-4 col-sm-3">
    <div class="panel panel-default">
                <div class="panel-heading margin">
                    <h4>Vreme v kraju {{ ljubljana_vreme.name }}</h4>
                </div>
                <div class="panel-body">
                    <p>Opis: {{ ljubljana_vreme.weather[0].description }}</p>
                    <p>Trenutna temperatura: {{ ljubljana_vreme.main.temp }} stopinj C</p>
                </div>
            </div>
</div>
{% endblock specifika %}
</body>
</html>